		* {
		    margin: 0;
		    padding: 0;
		}

		h1 {
		    text-align: center;
		}

		.weui-navbar {
		    position: fixed;
		}

		.swiper-button-next {
		    position: absolute;
		    top: 50%;
		    right: 0px;
		    width: 40px;
		    height: 40px;
		    margin-top: -22px;
		    padding: 10px 0;
		    z-index: 10;
		    cursor: pointer;
		    background-size: 40px 40px;
		    background-position: center;
		    background-repeat: no-repeat;
			cursor:pointer; 
			background-color: rgba(120,120,120,.3);
		}

		.swiper-button-prev {
		    position: absolute;
		    top: 50%;
		    left: 0px;
		    width: 40px;
		    height: 40px;
		    margin-top: -22px;
		    padding: 10px 0;
		    z-index: 10;
		    cursor: pointer;
		    background-size: 40px 40px;
		    background-position: center;
		    background-repeat: no-repeat;
			cursor:pointer;  
			background-color: rgba(120,120,120,.3);
		}
		
		#swiper-container1 {
        width: 100%;
     	height: 300px;
	    }
	    .swiper-container .swiper-slide {
	        font-size: 18px;
	        height: auto;
	        -webkit-box-sizing: border-box;
	        box-sizing: border-box;
	        padding:0 10px;
	    }

		.swiper-button-disable {
		    pointer-events: auto;
		}
		
		.gray {
		    color: gray;
		}

		a:hover {
		    background: #ddd;
		}

		.pointer {
		    cursor: pointer;
		}

		.weui-navbar+.weui-tab__panel+.weui-tab__panel {
		    margin-top: 50px;
		    padding-bottom: 0;
		}

		.weui-navbar+.weui-tab__panel+.weui-tab__panel+.weui-tab__panel {
		    margin-top: 50px;
		    padding-bottom: 0;
		}

		.green {
		    color: #32CD32;
		}

		.red {
		    color: red;
		}

		.blue {
		    color: #00CED1;
		}

		.orange {
		    color: orange;
		}

		.silve {
		    color: #FCFCFC;
		}

		.black {
		    color: black;
		}

		.gold {
		    color: #EEAD0E;
		}

		.car {
		    color: #CD3700;
		}

		.train {
		    color: #006400;
		}

		.buy {
		    color: #CD5555;
		}

		.lightblue {
		    color: #836FFF;
		}

		.bgorange {
		    background: white;
		}

		#dshow {
		    width: 100%;
		 	height: 100%;
		    background: rgba(0, 0, 0, 1);
		    position: fixed;
		    z-index: -1;
		    opacity: 0;
		}

		#dshow span {
		    display: block;
		    position: fixed;
		    left: 95%;
		    top: 0;
		    cursor: pointer;
		}

		#dshow span img {
		    width: 18px;
		    height: 18px;
		    position: absolute;
		    margin: 0;
		}


		#swiper-container2,#swiper-container3 {
		    position: relative;
		    z-index: 5001;
		    width: 100%;
		    height: 100%; 
		}

		#float {
		    position: absolute;
		    top: 50px;
		    width: 100%;
		    height: 300px;
		    z-index: 1000;
		    display: none;
		    border: 0px solid black;
		    text-align: center;
		    background-image: url(../images/logo_last3.jpg);
		    background-size: 100% 100%;
		    background-repeat: no-repeat;
		}

		.img {
		    background-repeat: no-repeat;
		    height: 300px;
		    background-size: 100% 100%;
		}

		.weui-article {
		    margin: 1px;
		    border: 1px solid pink;
		    border-bottom: 0;
		}

		.div1 {
		    background-image: url(../images/img/xmtc/1.jpg);
		    background-repeat: no-repeat;
		    background-size: contain;
		}

		.pictures {
		    width: 100%;
		    display: flex;
		    flex-flow: row wrap;
		    margin: 0;
		    padding: 0;
		    list-style: none;
		}

/*		.pictures>li {
		    width: 31.5%;
		    height: 100px;
		    margin: 1px;
		    overflow: hidden;
		    border: 1px solid orange;
		}*/

		.pictures>img {
		    width: 100%;
		    height: auto;
		    cursor: -webkit-zoom-in;
		    cursor: zoom-in;
		}

		#panel1 p:before {
		    content: "✈_____";

		    background-color: lightblue;

		    color: white;

		    font-weight: bold;
		}

	/*	#panel1 p:after {
		    content: "✈";

		    background-color: lightblue;

		    color: white;

		    font-weight: bold;
		}*/

		#panel1 {
		    width: 90%;
		    margin: 0 auto;
		}

		#panel1 h3 {
		    text-align: center;
		    border-bottom: 5px solid orange;
		    margin: 20px 0px;
		}

		#panel1 p {
		    background-color: #edededb3;
		    height: 100px;
		    font-size: 14px;
		}

		.weui-footer {
		    border-top: 1px solid orange;
		    margin: 20px 0;
		}

		.weui-footer>a {
		    font-size: 20px;
		    font-weight: bold;
		}

		#panel3 {
		    display: flex;
		    flex-flow: row wrap;
		}

		#panel3 div {
		    width: 45%;
		    height: auto;
		    border: 0px solid orange;
		    text-align: center;
		    margin: 6px;
		    background: orange;
		    overflow: hidden;
		    color: white;
		}

		#panel3 div img {
		    width: 100%;
		}

		#panel3 p {
		    width: 100%;
		}

